.half{
    background-color: #05386B;
    color: aliceblue;
}
a{
    text-decoration: none !important;
    color:aliceblue !important;
}
.hf{
    background-color: #e9e7e7;
}
.fronted{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.backend{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.database{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.languge{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.myicon{
    font-size: 30px !important;
}
img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}